langgraph==1.0.5
langchain==1.2.0
langchain-core==1.2.3
langchain-community==0.4.1
langchain-openai==1.1.6
langgraph-api==0.6.9
langgraph-sdk==0.3.1
langgraph-cli==0.4.11
python-dotenv==1.2.1
fastapi==0.125.0
starlette==0.50.0
uvicorn==0.38.0
pytz==2025.2
requests==2.32.5
typing_extensions==4.15.0
langgraph-runtime-inmem==0.20.1
langfuse==3.11.0